h1 {
    color: #fff;
    text-align: center; 
}

body {
    background-repeat: no-repeat;
    background-position: 50% 10%;
    background-size: cover;
    background-color: #0f3e4f;
    /*background-image: url("fresh_hamade.jpg");*/
    background-repeat: repeat-y;
}
