h1 {
    color: #fff;
    text-align: center; 
}

h2 {
    font-size: 20px;
    text-align: center;
    color: #bbb;
}

h3 {
    font-size: 18px;
    color:#40bddc;
}

ul {
    list-style-type: none;
    padding-left: 0px;
}

li {
    color: #fff;
    font-size: 17px;
}

span {
    /*color: #0b0;*/
    color: #0c6;
}

html, body {
    background: #0f3e4f;
}