h1 {
    color: #fff;
    text-align: center; 
}

.wrapper {
    display: grid;
    grid-template-columns: 1fr;
    grid-gap: 10px;
    background-color: #107dac;
    color: #fff;
    letter-spacing: 1px;
    justify-content: center;
    align-items: center;
    border-radius: 5px;
}

.box {
    text-align: left;
    padding: 22px;
}

.box2 {
    text-align: left;
    padding: 10px;
    background-color: #907dac;
}

input {
    background-color: #fff;
    color: #000;
}

html, body {
    background: #0f3e4f;
}