html, body { background: #0f3e4f; }

footer { font-style: italic; }

input { background-color: #fff;
        color: #000; }

a { font-weight: bold;
    text-decoration: none; }

a:visited, a:link { color: #FFF; }

h1 { color: #fff;
     text-align: center; }

h2 { font-size: 20px;
     text-align: center; }

h3 { font-size: 18px;
     color: #40bddc; }

table { font-family: arial, sans-serif;
        border-collapse: collapse;
        width: 100%;
        padding-left: 0px; }

td, th { color: #fff;
         border: 1px solid #fff;
         text-align: left;
         padding: 5px;
         font-weight: bold; }

tr:nth-child(odd) { background-color: #0a1e2f; }

ul { list-style-type: none;
     padding-left: 0px; }

li { color: #fff;
     font-size: 17px; }

.left { float: left;
        margin-left: 10px; }

.right { float: right;
         margin-right: 10px; }

.time { color: #0c6; }

.lightblue { color: #107dac; }

.bluebg { background-color: #107dac; }

.redteam { background-color: #FF4444; }

.blueteam { background-color: #4444FF; }

.noteam { background-color: #AAAAAA; }

.grey { color: #bbb; }

.wrapper { display: grid;
           grid-template-columns: 1fr 1fr;
           grid-auto-rows: 50px;
           grid-gap: 10px;
           background-color: #0f3e4f;
           color: #444;
           letter-spacing: 1px;
           justify-content: center;
           align-items: center; }

.listwrapper { display: grid;
               grid-template-columns: 1fr;
               grid-auto-rows: 50px;
               grid-gap: 10px;
               background-color: #0f3e4f;
               color: #444;
               letter-spacing: 1px;
               justify-content: center;
               align-items: center; }

.formwrapper { display: grid;
               grid-template-columns: 1fr;
               grid-gap: 10px;
               background-color: #107dac;
               color: #fff;
               letter-spacing: 1px;
               justify-content: center;
               align-items: center;
               border-radius: 5px; }

.box { text-align: left;
       padding: 22px; }

.box1 { text-align: center;
        grid-column: 1/ span 2;
        background-color: #005073;
        color: #ccc;
        border-radius: 2px;
        padding: 10px;
        text-decoration: none; }

.box2 { padding-bottom: 4px;
        text-align: center;
        color: #fff;
        border-radius: 5px;
        padding: 10px;
        text-decoration: none;
        display: block; }

.bluebg:hover { background-color: #d07; }

.titlebox { text-align: left;
            font-weight: bold;
            padding: 10px;
            background-color: #907dac; }

.error { color: #F00; }

.unscouted { color: #000;
             text-align: center; }
