<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8" name="viewport" content="width=device-width; initial-scale=1.0;">
	<link rel="stylesheet" type="text/css" href="{{ url_for('static',filename='agenda.css') }}">
	<title>Seaquam Vex Robotics Scouting</title>
</head>
<body>
	<header><h1>Agenda</h1></header>
	<h2>Information pulled from Robot Events. Not necessarily accurate.</h2>
	<h3>Sunday, February 18th, 2018</h3>
	<ul>
		<li><span>7:30am</span> Doors open.</li>
		<li><span>9:00am-2:00pm</span> Qualification Rounds.</li>
		<li><span>3:00pm-4:30pm</span> Elimination rounds.</li>
		<li><span>5:00pm</span> Awards ceremony.</li>
	</ul>
</body>
</html>
