<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8" name="viewport" content="width=device-width; initial-scale=1.0;">
	<link rel="stylesheet" type="text/css" href="{{ url_for('static',filename='index.css') }}">
	<title>Seaquam Vex Robotics Scouting</title>
</head>
<body>
	<header><h1>{{ status }}</h1></header>
	<nav>
		<div class="wrapper">
			<a class="box1" href="https://www.robotevents.com/robot-competitions/vex-robotics-competition/RE-VRC-17-2911.html">Last Chance Qualifier</a>
			<a class="box2" href="scouting">SCOUTING</a>
			<a class="box2" href="mcmath">OLD DATA MCMATH</a>
			<a class="box2" href="data">CURRENT DATA</a>
			<a class="box2" href="comox">OLD DATA COMOX</a>
			<a class="box2" href="agenda">AGENDA</a>
			<a class="box2" href="old_data">OLD DATA WEST-VAN</a>
		</div>
	</nav>
	<footer>

	</footer>
</body>
</html>
