<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8" name="viewport" content="width=device-width; initial-scale=1.0;">
	<link rel="stylesheet" type="text/css" href="{{ url_for('static',filename='styles.css') }}">
	<title>Seaquam Vex Robotics Scouting</title>
</head>
<body>
	<header><h1 class="lightblue">{{ status }}</h1></header>
	<nav>
		<div class="wrapper">
			<a class="box1" href="https://www.robotevents.com/robot-competitions/vex-robotics-competition/RE-VRC-17-{{ current_tournament_id }}.html">{{ current_tournament_name }}</a>
			<a class="box2 bluebg" href="scouting">SCOUTING</a>
			<a class="box2 bluebg" href="data/{{ current_tournament_id }}">CURRENT DATA</a>
			<a class="box2 bluebg" href="agenda">AGENDA</a>
			<a class="box2 bluebg" href="tournaments">ALL TOURNAMENTS</a>
		</div>
	</nav>
</body>
</html>
